@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ffc523;
  border-color: #ffc523 transparent #ffc523 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite; }

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

* {
  box-sizing: border-box; }

body {
  background: #ecf0f5;
  color: #00003b;
  font-family: "Poppins", Helvetica, Arial, sans-serif; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.text-center {
  text-align: center; }

h4 {
  font-size: 2.8rem; }

header {
  background: #ffc523;
  height: 50px;
  line-height: 50px;
  margin-bottom: 50px;
  padding: 0 20px; }
  header h1 {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px; }
  header a {
    color: #00003b;
    text-decoration: none; }
    header a:hover {
      color: #00003b; }
  header nav {
    float: right; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        display: inline-block;
        vertical-align: top; }
        header nav ul li + li {
          margin-left: 30px; }
        header nav ul li a {
          display: block;
          font-size: 14px;
          font-weight: bold; }

a,
a:hover,
a:focus {
  color: #00003b; }

.error {
  color: red;
  margin-top: -1em;
  display: block;
  font-size: 0.75em; }

.titles-list {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .titles-list th,
  .titles-list td {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 20px; }
  .titles-list tr {
    background: #fff; }

.form-actions button {
  margin-left: 20px; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #ffc523;
  border-color: #ffc523;
  color: #00003b;
  outline: none !important; }
  .button.button-primary:hover, .button.button-primary:active, .button.button-primary:focus,
  button.button-primary:hover,
  button.button-primary:active,
  button.button-primary:focus,
  input[type="submit"].button-primary:hover,
  input[type="submit"].button-primary:active,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:hover,
  input[type="reset"].button-primary:active,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:hover,
  input[type="button"].button-primary:active,
  input[type="button"].button-primary:focus {
    background-color: #ffc523;
    border-color: #ffc523;
    color: #00003b; }

.pagination {
  display: block;
  margin: 0 auto 2em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

.pagination li {
  display: inline-block;
  margin: 0 10px;
  min-width: 24px;
  cursor: pointer; }
  .pagination li a {
    display: block;
    min-width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px; }
    .pagination li a:hover {
      color: #ffc523; }
  .pagination li.active {
    background: #ffc523;
    border-radius: 8px; }
    .pagination li.active a {
      color: white; }

.text-center {
  text-align: center; }

.employees-list {
  list-style: none; }
  .employees-list li {
    display: block;
    width: 100%; }
    @media (min-width: 768px) {
      .employees-list li {
        display: inline-block;
        vertical-align: top;
        width: 48%; }
        .employees-list li:nth-child(even) {
          margin-left: 4%; } }

.employee-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s; }

.employee-card-header {
  background: #ffc523;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #00003b;
  padding: 20px;
  height: 120px;
  text-align: center; }
  .employee-card-header a {
    color: #00003b;
    text-decoration: none; }
  .employee-card-header h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1; }
  .employee-card-header h4 {
    font-size: 1.2rem;
    line-height: 1; }

.employee-card-image {
  background: grey;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 75px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0); }
  .employee-card-image img {
    top: 0;
    left: 0;
    max-width: 100%; }

.employee-card-footer {
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 45px 10px 10px;
  text-align: center; }
  .employee-card-footer h4 {
    font-size: 1.6rem;
    margin: 10px; }


/*# sourceMappingURL=main.ee3c41ac597b4c1ff680.css.map*/