@import "../../node_modules/skeleton-css/css/normalize.css";
@import "../../node_modules/skeleton-css/css/skeleton.css";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import "./variable.scss";

// LOADER
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  color: $black;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

header {
  background: $yellow;
  height: 50px;
  line-height: 50px;
  margin-bottom: 50px;
  h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
}

a,
a:hover,
a:focus {
  color: $black;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $yellow;
  border-color: $yellow;
  color: $black;
  outline: none !important;
  &:hover,
  &:active,
  &:focus {
    background-color: $yellow;
    border-color: $yellow;
    color: $black;
  }
}

.pagination {
  display: block;
  margin: 0 auto 2em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0 10px;
  min-width: 24px;
  cursor: pointer;
  a {
    display: block;
    min-width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
  }
  &.active {
    background: $yellow;
    a {
      color: white;
    }
  }
}

.text-center {
  text-align: center;
}

.employees-list {
  list-style: none;
  li {
    display: inline-block;
    width: 25%;
  }
}
