@import "../../node_modules/skeleton-css/css/normalize.css";
@import "../../node_modules/skeleton-css/css/skeleton.css";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "../../node_modules/react-toastify/dist/ReactToastify.css";

@import "./variable.scss";

// LOADER
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $yellow;
  border-color: $yellow transparent $yellow transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #ecf0f5;
  color: $black;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  & {
    *zoom: 1;
  }
}

.text-center {
  text-align: center;
}

h4 {
  font-size: 2.8rem;
}

header {
  background: $yellow;
  height: 50px;
  line-height: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
  h1 {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
  nav {
    float: right;
    ul {
      list-style: none;
      li {
        display: inline-block;
        vertical-align: top;
        & + li {
          margin-left: 30px;
        }
        a {
          display: block;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

a,
a:hover,
a:focus {
  color: $black;
}

.error {
  color: red;
  margin-top: -1em;
  display: block;
  font-size: 0.75em;
}

.titles-list {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  th,
  td {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 20px;
  }
  tr {
    background: #fff;
  }
}

.form-actions {
  button {
    margin-left: 20px;
  }
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $yellow;
  border-color: $yellow;
  color: $black;
  outline: none !important;
  &:hover,
  &:active,
  &:focus {
    background-color: $yellow;
    border-color: $yellow;
    color: $black;
  }
}

.pagination {
  display: block;
  margin: 0 auto 2em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0 10px;
  min-width: 24px;
  cursor: pointer;
  a {
    display: block;
    min-width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    &:hover {
      color: $yellow;
    }
  }
  &.active {
    background: $yellow;
    border-radius: 8px;
    a {
      color: white;
    }
  }
}

.text-center {
  text-align: center;
}

.employees-list {
  list-style: none;
  li {
    display: block;
    width: 100%;
    @media (min-width: 768px) {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      &:nth-child(even) {
        margin-left: 4%;
      }
    }
  }
}

.employee-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s;
}

.employee-card-header {
  background: $yellow;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: $black;
  padding: 20px;
  height: 120px;
  text-align: center;
  a {
    color: $black;
    text-decoration: none;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
  }
  h4 {
    font-size: 1.2rem;
    line-height: 1;
  }
}

.employee-card-image {
  background: grey;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  img {
    top: 0;
    left: 0;
    max-width: 100%;
  }
}

.employee-card-footer {
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 45px 10px 10px;
  text-align: center;
  h4 {
    font-size: 1.6rem;
    margin: 10px;
  }
}
